
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Quicksand:wght@300..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.quicksand{
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }
  .background{
    background-image: url(../assets/bg.png);
  }
  .flex{
    display: flex;
  }
  .b{
    border: none;
  }
  .nav-div{
    max-width: 1640px;
    justify-content: space-around;
    align-items: center;
    
  }
  .e{
    align-items: center;
  }
  .a{
    font-weight: bold;
    font-size: 1.25rem;
    text-decoration: none;
    margin-right: ;
  }
  .nav-div2{
    max-width: 387px;
    gap: 32px; 
}
.a1{
    color: #FEA301;
}
.a2{
 color: #01ACFD;
}
.a3{
    color: #05D4DF;
}
.a4{
    color: #5D58EF;
}
  .img1{
    max-width: 53px;
    max-height: 60px;
  }
  .btn1{
    border-radius: 12px;
     width: 157px;
    height: 50px;
    color: white;
    background-color: orange;
    border: none;
  }
  .div4{
    max-width: 640px;
  }
  .empower{
    font-weight: 56px;
    font-size: 3.52rem;
    max-width: 640px;
  }
  .p1{
    font-weight: 400px;
    font-size: 1.35rem;
    max-width: 640px;
  }
  .btn2{
    background-color: black;
    color: white;
    width: 197px;
    height: 50px;
    border-radius: 12px;
  }
  .s{
    color: #FEA301;
  }
  .p{
    color: #01ACFD;
  }
  .g{
    
    margin-left: 130px;
    max-width:1258px ;
    align-items: center;
    gap: 167px;
  }
  .src{
    max-width: 668px;
  }
  .img2{
      width: 100%;
  }
  .logo{
    display: none;
  }
  .border{
    border-bottom:none
  }
@media screen and (max-width:576px) {
    .school, .btn1{
        display: none;
    }
    .nav-div2{
      display: none !important;
    }
    .logo{
        display:block;
        width: 60px;
        height:30px;
        margin-right: 0;
    }
    .border{
        border-bottom: 3px solid red;
        width: 100%;
    }
   
    .div4{
      text-align: center;
    }
    .nav-div{
      justify-content: space-between !important;
    }
    
    .g{
      flex-direction: column-reverse;
        margin-left: -10px;
        margin-right: 10px;
        padding: 20px 10px; 
    
    }
    .img1{
      margin-left: 10px !important;

    }

    
}

.standard{
  font-weight: bold;
  font-size: 2.75rem;
  color: black;
  text-align: center;
}
.card{
  border-radius: 18px;
  background-color: #DEF5FF;
  max-width: 367px;
  background: linear-gradient(to bottom, #DEF5FF 30px, white 100%);
}
.card1{
  border-radius: 18px;
  background-color: #DEF5FF;
  max-width: 367px;
  background: linear-gradient(to bottom, #FFF4DC 30px, white 100%);
}
.card2{
  border-radius: 18px;
  background-color: #DEF5FF;
  max-width: 367px;
  background: linear-gradient(to bottom, #F2E8FF 30px, white 100%);
}
.main-card{
  display: flex;
  gap: 26px;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 80px auto;
}
.img3{
  max-width: 336px;
}
.k{
  font-weight: bold;
  font-size: 1.24rem;
  color: #202020;
}
.p2{
  font-weight: 450px;
  font-size: 1rem;
  color: #808080;
}
.a5{
  text-decoration: none;

}
.a6{
  color: #64C8FF;
}
.a7{
  color: #F0AA00;
}
.a8{
  color: #FEA301;
}
.btn3{
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background-color: #FEA301;
  border: none;
}

.circle-btn{
  text-align: center;
}
@media screen and (max-width:580px){
  .main-card{
    flex-direction: column;
    margin:10px 15px;
  }
  .circle-btn{
    display: none;
  }
}

.our{
  font-weight: bold;
  font-size: 2.75rem;
  margin-top: 60px;
  margin-bottom:80px ;
}
.btn10{
  max-width: 174px;
  border-radius: 47px;
  color: #FFFFFF;
  height: 47px;
  border: none;
}
.co{
  background-color: #01ACFD;
}
.posi{
  margin-top: -30px;
  margin-left: 10px;
}
.fun{
  margin-left: 10px;
  font-weight: bold;
  font-size: 1.25rem;
  color: #000000;
  margin-bottom: 20px;
}
.p3{
  color: #666666;
  font-weight: 500px;
  font-size: 1rem;
  margin-left: 10px;
  margin-bottom: 15px;
}
.card3{
  max-width: 540px;
  border-radius: 16px;

}
.img4{
  max-width: 540px;
  border-radius: 16px;
}
.btn11{
  max-width: 174px;
  border-radius: 47px;
  background-color: #95B226;
  height: 47px;
  border: none;
  color: white;
}
.bb{
  margin-top: -30px;
  margin-left: 10px;
}
.common{
  font-weight: bold;
  font-size: 1rem;
  color: #000000;
}
.br{
  border-radius: 16px;
  max-width: 280px;
}
.btn12{
  max-width: 174px;
  border-radius: 47px;
  background-color: #5D58F0;
  height: 47px;
  border: none;
  color: white;
}
.btn13{
  max-width: 150px;
  border-radius: 47px;
  background-color: #95B226;
  height: 47px;
  border: none;
  color: white;
}
.grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 570px;
  row-gap: 10px;
  column-gap: 10px;
}
.flex{
  display: flex;
  gap: 15px;
  justify-content: center; 
  /* align-items: center; */
  margin-top: 0;
}
.align {
  text-align: center;
  background: linear-gradient(to top, #FEA301 30px, white 100%);
  min-height: 100px; 
  padding: 20px;
}
.btn14{
  border-radius: 12px;
  width: 197px;
  height: 50px;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 60px;
  background-color: black;
  color: white;
}
@media screen and (max-width:580px){
  .card3{
    display: none;
  }
  .grid{
    width: 100%;
  }
  .br{
    width: 100%;
  }
}
.foot1{
  display: flex;
}
a{
  text-decoration: none;
  color: white;
  font-weight: 500px;
  font-size: 1,25rem;

}

.foot-main{
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: center;
  background-color: #01ACFD;
  /* margin: 123px 228px 174px 140px; */
}
.c{
  max-width: 400px;
}
.i{
  margin-top: 20px;
}
.ii{
  margin-top: -33px;
}
.color{
  color: white;
}
@media screen and (max-width:580px) {
  .foot-main{
    flex-direction: column;
    align-items: center;
  
  }
  .l{
    margin-right: 30px;
  }
}
.marquee {
  white-space: nowrap;
  overflow: hidden;
  display: block;
  width: 100%;
  background: #f0f0f0;
  padding: 10px 0;
}

.marquee span {
  display: inline-block;
  animation: marquee 5s linear infinite;
}

@keyframes marquee {
  from {
      transform: translateX(100%);
  }
  to {
      transform: translateX(-100%);
  }
}


  
  
  
